{{#partial "content"}}
    <div class="row">
        <div class="col-md-12 profile-card">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand text" href="#">codeNAMI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/users/{{id}}">Profile <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/users/{{userId}}/challenges">View Challenges <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/users/{{userId}}/challenge">Post Challenges <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-4" id="profile1">
            <div class="card mb-3">
                <img src="https://images.pexels.com/photos/2741572/pexels-photo-2741572.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jane Doe</h5>
                    <p class="card-text"><small class="text-muted">I'm Awesome</small></p>
                </div>
                <a href="#"><button class="btn btn-dark" id="profile">Edit Profile</button></a>
            </div>
        </div>
        <div class="col-md-4 edit" id="edit1">
            <div class="card w-75">
                <img src="https://images.pexels.com/photos/2741572/pexels-photo-2741572.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                <div class="card-body">
                    <form>
                        <button class="btn btn-dark">Change Image</button>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username">
                            <small class="form-text text-muted"><strong>Input your username</strong></small>
                        </div>
                        <div class="form-group">
                            <label for="Bio">Bio</label>
                            <input type="text" class="form-control" id="bio" placeholder="Enter Bio">
                            <small class="form-text text-muted"><strong>Write something about yourself</strong></small>
                        </div>
                        <button type="submit" class="btn btn-dark" id="edit">Edit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card border-dark mb-3">
                <div class="card-header">FAILURE: Build failed with an exception.</div>
                <div class="card-body text-dark">
                    <p class="card-text">Execution failed for task ':run'.
                        > Process 'command '/usr/lib/jvm/java-11-openjdk-amd64/bin/java'' finished with non-zero exit value 100
                    </p>
                    <div class="card-footer">
                        <p>It does not work!</p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-9">
                            <a href="#"><i class="fas fa-chevron-up"></i></a>
                            <p>12</p>
                            <a href="#"><i class="fas fa-chevron-down"></i></a>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3" style="max-width: 180px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                        <img src="https://images.pexels.com/photos/2741572/pexels-photo-2741572.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img-top" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text"><small class="text-muted">Jane Doe</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/users/:userId/challenges/:challengeId"><button class="btn btn-dark btn-block">View</button></a>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}